<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016.  The AppCan Open Source Project.
  ~
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU Lesser General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU Lesser General Public License for more details.
  ~
  ~  You should have received a copy of the GNU Lesser General Public License
  ~  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
       >
    <application>
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="$uexRongCloud_APPKEY$" />
        <service
                android:process=":ipc"
                android:exported="true"
                android:name="io.rong.imlib.ipc.RongService">
        </service>

        <service android:name="io.rong.imlib.ReConnectService"/>
        <receiver android:name="io.rong.imlib.ConnectChangeReceiver"/>

        <receiver android:name="io.rong.imlib.HeartbeatReceiver"
                  android:process=":ipc"/>

        <!-- end -->
        <!--必选： SDK 核心功能-->
        <service
                android:name="io.rong.push.core.PushRegistrationService"
                android:exported="false">
        </service>
        <service
                android:name="io.rong.push.PushService"
                android:exported="false"
                android:process="io.rong.push">
        </service>

        <service
                android:name="io.rong.push.core.MessageHandleService"
                android:exported="true">
        </service>

        <receiver
                android:name="io.rong.push.PushReceiver"
                android:process="io.rong.push">
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- end -->
    </application>

</manifest>